@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">A Poll Poll</h1>
    <p class="lead">A Poll Poll, or APP for short, is an application that allows you to help create some of the great polls of the century. You want good polls? Well then give good questions! This is your chance to start great things!</p>
    <p class="text-center">That said, this can easily be shut down, so don't abuse it. :)</p>
    <p class="text-center"><a href="/Question" class="btn btn-danger btn-lg">Do your part &raquo;</a></p>
</div>